{% block style %}
    <style>
        .navbar .brand {
        max-height: 40px;
        max-width: 30%;
        overflow: visible;
        padding-top: 0;
        padding-bottom: 0;
        }
        .search_style {
          color:#000000;
        }
    </style>
{% endblock %}

<nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container">
    <a class="navbar-brand" href="{% url 'article_list' %}">
      Django Blog
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if request.user.is_authenticated %}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'article_list' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'article_form' %}">Add Article</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">About Us</a>
            </li>
        </ul>
      {%else %}
        <ul class="navbar-nav mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'register' %}">Register</a>
          </li>
        </ul>
      {% endif %}

      {% if request.user.is_authenticated %}
        <ul class="navbar-nav mb-lg-0 ">
          <li class="nav-item dropdown mx-5" >
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Hi, {{request.user.username}}
            </a>
            <ul class="dropdown-menu left-links" >
              <li><a class="dropdown-item" href="#">Add Avatar</a></li>
              <li><a class="dropdown-item" href="{% url 'password-change' %}">Change Password</a></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">logout</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex search_style" role="search">

          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-dark" type="submit">Search</button>
        </form>
      {% endif %}
    </div>
  </div>
</nav>