{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block title %} Add Article {% endblock %}

{% block style %}
    <style>
        .article_style{
        width:500px;
        margin:auto;
        }

    </style>

{% endblock %}

{% block body %}
  <div class="container mt-5 article_style">
    <h3>Add Article Details</h3>
    <form action="" method = "post" novalidate>
      {% csrf_token %}
      {{article_form | crispy}}


        <input type="submit" value="Add Article" class="btn btn-primary btn-sm">
    </form>

  </div>

{% endblock %}