{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block title %} {{form.title}} {% endblock %}


{% block style %}
    <style>
        .update_style{
        width:700px;
        margin:auto;
        }

    </style>

{% endblock %}

{% block body %}
<div class="container mt-4 update_style" >
    <h3> Update Article</h3>

    <form action="" method="post">
        {% csrf_token %}
        {{form | crispy}}


        <input type="submit" value="Update Article" class="btn btn-success btn-sm">


    </form>


</div>

{% endblock %}

